[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
mysql-connector-python = "*"
customers-crud = {path = "./src", editable = true}

[dev-packages]
pytest = "*"
black = "*"
isort = "*"
mypy = "*"
pylint = "*"
requests = "*"

[requires]
python_version = "3.11"
